@import "fonts";

$cyan      : #02cb94;
$green     : #1C6D3D;
$red       : #cb0239;
$red       : #EE384E;
$indigo    : #295587;
$maroon    : #B3474A;
$yellow    : #FEDE4D;
$purple    : purple;
$pink      : #F21C5D;
$brown     : #C29872;
$lightpink : #FCB3B3;
$lightgreen: #85BE7A;

$primary: $indigo;

$red-dark: #923637;

$gray-400: #5e5e5e;

$font-family-base  : 'iranyekan';
$font-size-base    : .8rem;
$font-weight-base  : $font-weight-medium;
$font-weight-bold  : 800;
$font-weight-bolder: 900;
$line-height-base  : 2;

$headings-line-height: 1.7;

$text-shadow      : 0px 2px 3px rgba(black, .9);
$text-shadow-light: 0px 2px 3px rgba(white, .9);

$theme-colors: ("red": $red,
    "cyan": $cyan,
    "yellow": $yellow,
    "indigo": $indigo,
    "green": $green,
    "maroon": $maroon,
    "pink": $pink,
    "purple": $purple,
    "brown": $brown,
    "lightpink": $lightpink,
    "lightgreen": $lightgreen,
);

$border-radius: 30px;


@import "bootstrap/scss/bootstrap-rtl.scss";

html {
    scroll-behavior: smooth;
}

.page-full {
    position           : relative;
    min-height         : 100vh;
    overflow           : hidden;
    background-size    : cover;
    background-position: center center;

    &::before {
        content         : "";
        position        : absolute;
        top             : 0;
        right           : 0;
        width           : 100%;
        height          : 100%;
        background-color: rgba($indigo, .8);
    }
}

.rounded-pill-right {
    border-top-right-radius   : 1000px;
    border-bottom-right-radius: 1000px;
}

.rounded-pill-left {
    border-top-left-radius   : 1000px;
    border-bottom-left-radius: 1000px;
}

.text-shadow {
    text-shadow: $text-shadow;
}

.text-shadow-light {
    text-shadow: $text-shadow-light;
}

.font-size-lg {
    font-size: 1.5rem;
}

.section-icon {
    width: 50px;
}

.section-icon-lg {
    width: 70px;
}

.section-icon-sm {
    width: 35px;
}

.section-img {
    position        : relative;
    background-color: #fff;
    border-radius   : 1000px;
    margin-top      : 40px;
    margin-bottom   : 40px;

    .section-img-ring {
        position     : absolute;
        top          : 0;
        right        : 0;
        width        : 100%;
        height       : 100%;
        border       : 1px solid #fff;
        border-radius: 1000px;
        transform    : scale(1.1, 1.1) translateY(-7px);

        &:nth-of-type(2) {
            transform: scale(1.1, 1.1) translateY(7px);
        }
    }

    &::before {
        content    : "";
        padding-top: 100%;
        display    : block;
    }

    img {
        display   : block;
        width     : 100%;
        height    : 100%;
        object-fit: contain;
        position  : absolute;
        top       : 0;
        right     : 0;
        width     : 100%;
    }

    .video {
        position: absolute;
        top     : 0;
        right   : 0;
        width   : 100%;
        height  : 100%;
    }
}

.dir-l {
    direction: ltr;
}

h1 {
    font-size  : (24rem/16);
    font-weight: 800;
}

h2 {
    font-weight: normal;
}

.h3 {
    font-size: (18rem/16);
}

.h4 {
    font-size: (16rem/16);
}

.footer-form .form-group {
    background-color: #fff;
    border-radius   : 1000px;

    .form-control {
        background-color: transparent;
        border          : none;
        text-align      : center;
        box-shadow      : none;
        font-size       : 1.2rem;
        letter-spacing  : .3rem;
    }
}

.bottom-float {
    position: fixed;
    bottom  : 0;
    right   : 0;
    width   : 100%;
    height  : 44px;
    overflow: hidden;

    .btn-lg {
        transition: margin .3s ease;
        font-size : 1.1rem;
    }

    &.active {
        height: 62px;

        .btn-lg {
            margin-top: -44px;
        }
    }
}

.section-overlay {
    opacity         : 0;
    pointer-events  : none;
    display         : flex;
    flex-flow       : row nowrap;
    align-items     : center;
    justify-content : center;
    position        : fixed;
    bottom          : 10px;
    right           : 0;
    width           : 100%;
    height          : 200px;
    background-image: linear-gradient(0deg, black, transparent);
    transition      : opacity .3s;

    &.active {
        opacity: 1;
    }
}

.scroll-bottom {
    display  : flex;
    flex-flow: column nowrap;
    color    : white;

    .scroll-bottom-arrow {
        position  : relative;
        text-align: center;

        &::before,
        &::after {
            content      : "";
            position     : relative;
            display      : block;
            width        : 20px;
            height       : 20px;
            transform    : rotate(45deg);
            border-right : 2px solid white;
            border-bottom: 2px solid white;
        }

        &::before {
            animation: scroll-down 1s linear -.5s infinite normal forwards;
        }

        &::after {
            animation : scroll-down 1s linear 0s infinite normal forwards;
            margin-top: -20px;
        }
    }
}

.jump-to-top {
    position        : fixed;
    right           : 20px;
    bottom          : -50px;
    background-color: #fff;
    width           : 50px;
    height          : 50px;
    border-radius   : 50%;
    box-shadow      : $box-shadow;
    transition      : bottom .3s ease;

    &.active {
        bottom: 70px;
    }

    .jump-to-top-arrow {
        display     : block;
        position    : relative;
        top         : 20px;
        right       : 17px;
        width       : 15px;
        height      : 15px;
        transform   : rotate(-45deg);
        border-right: 2px solid black;
        border-top  : 2px solid black;
    }
}

#section-intro {
    color           : #5e5e5e;
    background-image: url('../img/bg-intro.jpg');

    &::before {
        background-color: rgba($cyan, .75);
    }

    .section-img {
        img {
            transform: scale(1.2) rotate(-30deg);
        }
    }
}

#section-spec {
    background-image: url('../img/bg-spec.jpg');

    &::before {
        background-color: rgba($indigo, .75);
    }

    .section-img {
        margin-bottom: 80px;

        img {
            transform: rotate(-30deg) scale(1.5);
        }
    }
}

#section-feature {
    background-image: url('../img/bg-feature.jpg');

    &::before {
        background-color: rgba($red, .75);
    }

    .section-img img {
        transform: scale(1.2);
    }

    .section-icon {
        width: 40px;
    }
}

#section-price {
    background-image: url('../img/bg-price.jpg');

    &::before {
        background-color: rgba($yellow, .75);
    }

    .off-box {
        .h2 {
            font-size: 1.8rem;
        }
        .text-white-50 {
            color: rgba(white, 1)
        }
    }

    .section-img img {
        transform: scale(1.5);
    }
}

#section-video {
    background-image: url('../img/bg-video.jpg');

    &::before {
        background-color: rgba($lightpink, .75);
    }

    .section-img {
        display : block;
        position: relative;

        &::after {
            content      : "";
            position     : absolute;
            right        : 50%;
            top          : 50%;
            width        : 0;
            height       : 0;
            border-left  : solid 40px white;
            border-top   : solid 30px transparent;
            border-bottom: solid 30px transparent;
            transform: translate(50%, -50%);
        }

        img {
            border-radius: 50%;
            opacity      : 0.5;
        }
    }
}

#section-gift {
    background-image: url('../img/bg-gift.jpg');

    &::before {
        background-color: rgba($lightgreen, .75);
    }

    .section-img img {
        transform: scale(1.3);
    }

    .h2 {
        font-size  : (24rem/16);
        font-weight: $font-weight-bold;
    }
}

#section-footer {
    background-image   : url('../img/bg-footer.jpg');
    background-size    : cover;
    background-position: center center;
    position           : relative;

    &::before {
        content   : "";
        position  : absolute;
        right     : 0;
        top       : 0;
        width     : 100%;
        height    : 100%;
        background: rgba($brown, .9);
    }

    .section-img img {
        padding: 15%;
    }
}

@keyframes bounce {
    from {
        transform: translateY(-5px);
    }

    to {
        transform: translateY(5px);
    }
}

@keyframes scroll-down {
    0% {
        top    : -20px;
        opacity: 0;
    }

    50% {
        opacity: 1;
        top    : 0;
    }

    100% {
        top    : 20px;
        opacity: 0;
    }
}

@include media-breakpoint-up('md') {
    html {
        font-size: 20px;
    }

    #section-intro {
        h1 {
            font-size: 38px;
        }

        .h3.text-white {
            font-size: 28px;
        }

        .section-img img {
            transform: scale(1) rotate(-30deg);
        }
    }

    #section-spec {
        .section-img img {
            transform: scale(1.2) rotate(-30deg);
        }
    }

    .bottom-float {
        height: 55px;

        .btn-lg {
            transition: margin .3s ease;
        }

        &.active {
            height: 78px;

            .btn-lg {
                margin-top: -55px;
            }
        }
    }
}