.rtl {
    .custom-switch {
        position: relative;
        margin-left: 0;

        .custom-control-label {
            padding-right: 0;
            padding-top: 3px;
            display: block;
            position: static;
            
            &::before {
                right: auto;
                top: 9px;
                left: 10px;
                height: 4px;
                width: $switch-width;
                background-color: #eee;
                border: none;
                border-radius: 5px;
            }

            &::after {
                top: 0.0em;
                left: 10px;
                right: auto;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 1px solid #bdbdbd;
                transform: translateX(-50%);
                transition: left .3s;
                box-sizing: content-box;
                background: #bdbdbd;
                background: radial-gradient(circle, #bdbdbd 0, #bdbdbd 2px, rgba(0, 0, 0, 0.1) 2px);
            }
        }

        .custom-control-input:checked {
            ~ .custom-control-label {
                &::before {
                    background-color: #c8e6c9;
                }
                
                &::after {
                    background: #43a047;
                    background: radial-gradient(circle, #43a047 0, #43a047 2px, rgba(129, 199, 132, 0.37) 2px);
                    border-color: #43a047;
                    left: 10px + $switch-width;
                }
            }
        }
    }
}